<template>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {{ stock.name}}
          <small>(Price: {{stock.price}} | Quantity: {{ stock.quantity }})</small>
        </h4>
      </div>
      <div class="card-body">
        <div class="float-left">
          <input type="number"
          class="form-control"
          placeholder="Quantity"
          min="0"
          v-model="quantity"
          :class="{danger: insufficientQuantity}"
          >
        </div>
        <div class="float-right">
          <button 
            class="btn btn-primary"
            @click="sellStock"
            :disabled = "insufficientQuantity || quantity <=0  || !Number.isInteger(+quantity)"
          >{{ insufficientQuantity ? 'Not enough Stocks' : 'SELL' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
  props: ['stock'],
  data() {
    return {
      quantity: 0
    }
  },
  computed: {
    insufficientQuantity() {
      return this.quantity > this.stock.quantity;
    }
  },
  methods: { 
    ...mapActions({
      placeSellOrder: 'sellStock'
    }),
    sellStock() {
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      };
      this.placeSellOrder(order);
      this.quantity= 0;
    }
   }
}
</script>


<style scoped>
.danger {
  border: 2px solid red;
}
.card {
  margin:20px;
}
.card-header {
  background-color: blue;
  color: lightblue;
}
</style>
